<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <style type="text/css">
    </style>

<body bgcolor="#800000">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    </head>
    
    <body>  
   <!--   <a style = "background-color: gold;font-size:200%;" href="posting">Make A Post</a> -->
    <form action="#">


<audio loop autoplay>
    <source src="shanty2.mp3" type="audio/mpeg">
</audio>
   
   <!-- <a href="/">Main Page</a> -->
    <div style = "background-color: gold; position:absolute; left:1600px; down:200px">
     <h1 id = "name">Name</h1>
     <h1 id = "count">$$$</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
     <div style = "position:relative; text-align:center;top:100px; color:red;font-size:300%;">
    <h1 > <img src="fire-hot.gif"> BeefGames.com  <img src="fire-hot.gif"></h1>
    </div>
    <div style = "position:relative; text-align:center;top:100px; ">
     <a style = "background-color: gold;font-size:200%;" href="/slots">Play Slots</a>
     
     <a style = "background-color: gold;font-size:200%;" href="/coin">Flip-A-Coin</a>
    </div>
    <table id="leaderboard"  border = "1" style = "background-color: gold;font-size:200%;">
    <tr>
      <th >Position</th>
      <th style = "width: 60%;">Name</th>
      <th >$$$</th>
    </tr>
    
  </table> <!--<fieldset>
    <legend>Current Posts</legend>
    <br>
    <div>
<ul id="list"></ul>  
    <ul style="list-style: none;font-size:30px" id="list"></ul>
    </div>

<!--<input id="clearButton" type="button" value="Clear Form"> if i delete any of these commented out lines of code the webpage will break :p 

</fieldset> --> 
  

    </form>  
   

    
   


<script src="../js/gamble.js"></script>


</body>
</html>